<?xml version="1.0"?>

<model>
  <name>map 1 World</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>  

  <author>
    <name>Gabriel Alves</name>
    <email>ggabriel@gmail.com</email>
  </author>

  <description>
    World of TurtleBot3 with ROS for activity of graduation
  </description>
</model>
